<%- include('cabecera'); %>

<h1>Formulario de alta de nuevo participante</h1>


<form action="" method="post">

<div class="form-group">
<label for="nombre">Nombre:</label>
<input type="text" class="form-control" id="nombre" name="nombre" />
</div>

<div class="form-group">
<label for="apellidos">Apellidos:</label>
<input type="text" class="form-control" id="apellidos" name="apellidos" />
</div>

<hr>
<input type="submit" value="Grabar">

</form>

<%- include('pie'); %>