<%- include('cabecera'); %>

<h1>Formulario de alta de Categoría</h1>


<form action="" method="post">

<div class="form-group">
<label for="nombre">Código:</label>
<input type="text" class="form-control" id="codigo" name="codigo" />
</div>

<div class="form-group">
<label for="apellidos">Descripción:</label>
<input type="text" class="form-control" id="descripcion" name="descripcion" />
</div>

<hr>
<input type="submit" value="Grabar">

</form>

<%- include('pie'); %>